@font-face {
  font-family: "Paperlogy-Bold";
  font-weight: normal;
  src: url("../font/Paperlogy-7Bold.ttf") format("truetype");
}

.navigator-container {
    width: 100%;
    height: 10%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    padding: 0 10%;
    box-sizing: border-box;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigator-title {
    font-family: 'Paperlogy-Bold';
    text-align: left;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}

.navigator-menu-box {
    display: flex;
    gap: 1.5rem;
}

/* TODO 메뉴 모듈화 */
.navigator-menu {
    text-align: right;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 22px;
}

/* 기본적으로 사이드바는 숨김 */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2rem;
  transform: translateX(100%);  /* 완전히 오른쪽으로 숨김 */
  transition: transform 0.3s ease;
  z-index: 999;
}

/* 열렸을 때만 보임 */
.sidebar.show {
  transform: translateX(0);
}

.sidebar-menu {
  font-size: 20px;
  cursor: pointer;
}

/* 햄버거 → X로 바뀌는 애니메이션 */
.navigator-hambuger-toggle {
  display: none;
}

.navigator-hambuger-toggle > div {
  height: 4px;
  border-radius: 2px;
  background-color: black;
  transition: 0.3s;
}

.hambuger-top-line.active {
  transform: rotate(45deg) translateY(15px) translateX(7px);
}

.hambuger-middle-line.active {
  opacity: 0;
}

.hambuger-bottom-line.active {
  transform: rotate(-45deg) translateY(-11px) translateX(3px);
}

@media (max-width: 991px) {
  .navigator-container {
    padding: 0 2% 0 5%;
  }

  .navigator-hambuger-toggle {
    display: flex;
  }

  .navigator-menu-box {
    display: none !important;
  }

  .navigator-menu-box.hidden {
    display: none;
  }
  .navigator-hambuger-toggle {
    display: flex;
    height: 30px;
    width: 40px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1000;
  }
  .navigator-title {
    font-size: 18px;
  }
}

/* PC에서는 아예 안 보이도록 */
@media (min-width: 992px) {
  .sidebar {
    display: none !important;
  }
}