.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  padding: 10% 10% 0 10%;
  height: 200%;
  display: flex;
  flex-direction: column;
  gap: 5vh;;
}

section {
  position: relative;       
  z-index: 1;               
  transform: translateZ(0); 
  height: 100vh; 
}

main > section:not(:first-child) {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width : 991px) {
  main {
    padding: 25% 10% 0;
  }
}